body{
	background-image: url(sp2.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	opacity: 0.6;

}
.form {
	float: top;
	margin-top: 100px;
	margin-left: 400px; 
	font-size: 30px;

	
		
}
.oi{
	margin-right:750px; 
}
button[type=button]{
	margin-left: 250px;
}


